<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Добавить нового пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css" />
</head>

<body>
    <div th:with="frag=~{parts/navbar.html}">
        <span th:insert="${frag}" />
    </div>
    <div class="container mt-2">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h2>Добавить нового пользователя</h2>
                    <br>
                </div>
            </div>
        </div>

        <form action="/users/add/" method="POST">
            <label for="userType">Тип пользователя</label><br>
            <select class="form-control" id="userType" name="userType">
                <option>ROLE_ADMIN</option>
                <option>ROLE_CUSTOMER</option>
                <option>ROLE_SELLER</option>
                <option>ROLE_COURIER</option>
            </select><br>
            <label for="userName">Логин</label><br>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="Введите логин"><br>
            <label for="firstName">Имя</label><br>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Введите имя"><br>
            <label for="lastName">Фамилия</label><br>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Введите фамилию"><br>
            <label for="deliveryAddress">Адрес доставки</label><br>
            <input type="text" class="form-control" id="deliveryAddress" name="deliveryAddress" placeholder="Введите адрес доставки"><br>
            <label for="password">Пароль</label><br>
            <input type="password" class="form-control" id="password" name="password" placeholder=""><br>
            <input class="btn btn-success" type="submit" value="Добавить">
        </form><br>

        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-unstyled">
                        <li><a class="btn btn-primary" href="/users/all" th:href="@{/users/all}">
                                < К списку пользователей</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
