<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список всех курьеров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css" />
</head>

<body>
    <div th:with="frag=~{parts/navbar.html}">
        <span th:insert="${frag}" />
    </div>
    <div class="container mt-5 border-secondary">
        <table>
            <tr>
                <th>Номер курьера</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Способ доставки</th>
            </tr>
            <tr th:each="courier : ${couriers}">
                <td th:utext="${courier.courierId}"></td>
                <td th:utext="${courier.userID.firstName}"></td>
                <td th:utext="${courier.userID.lastName}"></td>
                <td th:utext="${courier.deliveryMethod.name()}"></td>
            </tr>
        </table>
    </div>
</body>

</html>
