<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список свободных курьеров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css"/>
</head>
<body>
<div th:with="frag=~{parts/navbar.html}">
    <span th:insert="${frag}"/>
</div>
<div class="container mt-5 border-secondary">

    <h1>Карта города</h1>
    <div>
        <p th:utext="'Адрес доставки: ' + ${deliveryAddress}"></p>
    </div>
    <div>
        <iframe
                width="800"
                height="500"
                frameborder="0" style="border:0"
                th:src="${src}"
                allowfullscreen>
        </iframe>
    </div>
</div>
</body>
</html>
