<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Просмотр товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css" />
</head>
<body>
<div th:with="frag=~{parts/navbar.html}">
    <span th:insert="${frag}"/>
</div>
<div class="container mt-2 ">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <th>
                    <h2>Параметры товара</h2>
                    <br>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <td>Артикул</td>
            <td th:utext="${product.article}"></td>
        </tr>
        <tr>
            <td>Наименование</td>
            <td th:utext="${product.name}"></td>
        </tr>
        <tr>
            <td>Описание</td>
            <td th:utext="${product.description}"></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td th:utext="${product.price}"></td>
        </tr>
        <tr>
            <td>Количество</td>
            <td th:utext="${product.productCount}"></td>
        </tr>
    </table>
    <footer id="footer">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <br>
                    <li><a class="btn btn-primary" href="/product/all" th:href="@{/shops/all}">
                        < К списку магазинов</a>
                    </li>&nbsp;
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
