<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Оформление заказа</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../static/css/litera.css" />
</head>

<body>
<div th:with="frag=~{parts/navbar.html}">
    <span th:insert="${frag}" />
</div>
<div class="row offset-2 mt-5 pt-5">
    <div class="col-lg-5">
        <h4 class="text-center mb-5">Офомрление заказа</h4>
        <form action="#" th:action="@{'/order/buy/' +${order.product.productID}}" method="post" class="form-group">
           <label class="col-form-label col-form-label-sm" for="inputSmall">Количество</label>
            <input th:field="*{order.countProduct}" class="form-control form-control-sm" type="number" id="inputSmall">
            <label class="col-form-label col-form-label-sm" for="inputSmall">Адрес доставки</label>
            <input th:field="*{order.deliveryAddress}" class=" form-control form-control-sm" type="text" id="inputSmall">
            <button type="submit" class="btn btn-success mt-3">Купить</button>
        </form>
    </div>
    <div class="col-lg-5">
        <div class="card mb-3">
            <h3 class="card-header" th:utext="${order.product.name}"/>
            <div class="card-body">
                <p class="card-text" th:utext="${order.product.description}"/>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:utext="${order.product.article}"/>
                <li class="list-group-item" th:utext="${order.product.price}"/>
            </ul>
        </div>
    </div>
</div>
</body>

</html>
