<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Привет Мир Пример</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css" />
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th> City </th>
        <th> Shops </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shop : ${shops}">
        <td><span th:text="${shop.address}"/></td>
        <td><a href="shopProducts" th:href="@{'/shop/'+${shop.shopID}}"><span th:text="${shop.name}"/></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>