<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Список всех магазинов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../../css/main.css"/>
</head>

<body>
<div th:with="frag=~{parts/navbar.html}">
    <span th:insert="${frag}"/>
</div>
<div class="container mt-2">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h2>Список магазинов</h2>
                <br>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Адрес</th>
            <th>Магазин</th>
            <th sec:authorize="hasRole('ADMIN')">Действие</th>
        </tr>
        <tr th:each="shop:${shops}">
            <td class="img-shop table-cell">
                <a th:href="@{'/shops/'+${shop.getShopID()}}">
                    <img th:if="${shop.getImage() == null}" th:src="@{/images/shop/default-shop.jpg}">
                    <img th:unless="${shop.getImage() == null}"
                         th:src="@{'/images/shop/' + ${shop.getImage()}}">
                </a>
            </td>
            <td>
                <a th:href="@{'/shops/'+${shop.getShopID()}}" th:utext="${shop.getShopID()}"></a>
            </td>
            <td th:utext="${shop.getAddress()}"></td>
            <td><a th:href="@{'/product/shop/'+${shop.getShopID()} + ' ?pageNo=1'}" th:utext="${shop.getName()}"/></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a class="badge badge-success" th:href="@{'/shops/update/'+${shop.getShopID()}}"
                   th:utext="Изменить"></a>
                <!--                    <a sec:authorize="hasRole('ADMIN')" class="badge badge-danger" th:href="@{'/shops/delete/'+${shop.getShopID()}}" th:utext="Удалить"></a>-->

            </td>
        </tr>
    </table>

    <footer id="footer">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a sec:authorize="hasRole('ADMIN')" class="btn btn-success" href="/shops/add/" th:href="@{/shops/add/}">Добавить</a>&nbsp;
                <br><br>
            </div>
        </div>
    </footer>
</div>
</body>

</html>
