<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Продукты магазина</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/litera.css}" href="../static/css/litera.css" />
</head>

<body>
<div>
    <div th:with="frag=~{parts/navbar.html}">
        <span th:insert="${frag}" />
    </div>
</div>
<h1 class="row justify-content-md-center mt-5 pt-5">SUCCESSFUL!</h1>
</body>

</html>
