<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="logo" href="/" >
        <img th:src="@{../../images/logo.png}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link">
                        <div th:replace="index::logout"></div>
                    </a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/index.html}">Кабинет</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/all}">Пользователи</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shops/all}">Магазины</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/all}">Заказы</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/stats}">Статистика</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer/index.html}">Кабинет</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/customer/list(userName = ${#authentication.getPrincipal().getUsername()})}">Заказы</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <li class="nav-item">
                    <a class="nav-link" href="/shops/all">Магазины</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <li class="nav-item">
                    <a class="nav-link" href="/product/all?pageNo=1">Все товары</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_SELLER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/seller/index.html}">Кабинет</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_SELLER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/seller/}">Мой магазин</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_SELLER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/seller/orders}">Заказы</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_SELLER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/stats}">Статистика</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_COURIER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courier/index.html}">Кабинет</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_COURIER')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/courier/(userName = ${#authentication.getPrincipal().getUsername()})}">Заказы</a>
                </li>
            </div>
        </ul>
        <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" method="get" action="/product/search">
            <input class="form-control mr-sm-2" type="hidden" name="pageNo" value="1">
            <input class="form-control mr-sm-2" type="text" name="template" placeholder="Введите имя товара">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>